main {

    display: flow-root;
    text-align: left;
}

.input_error {
    border: 2px #e74c3c solid !important;
}

main input{

    width:450px;
    height: 30px;
    margin:15px 0;
    padding: 10px 15px;
    border: 1px solid #000;
    background: none;
    outline: none;

}
#main-body{
    width:49%;
    float:left;
}
#bienvenue{
    text-align: center;
    width:51%;
    float:left;
}
#bienvenue h1{
    font-size:20px;
    margin:20px 0;
}
main button{
    float:right;
    
}