main{
    display: flow-root;
    margin-top: 50px;
    text-align: center;
}

.izquierda{
    float: left;
    padding: 20px;
}

.derecha{
    padding: 20px;
    float: left;
}

h1{
    color: #76323F;
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
}

.dato{
    color: #76323F;
    font-size: 20px;
    margin: 20px;
}

table {
    border-collapse: collapse;
    width: 500px;
    display: inline-block;
}
  
th, td {
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even){
    background-color: #f2f2f2
}
  
th {
    background-color: #76323F;
    color: white;
}


