main {

    display: flow-root;
    text-align: center;
}

.input_error {
    border: 2px #e74c3c solid !important;
}


main div {

    width: 100%;
    text-align: center;



}

main input{

    width: 60%;
    height: 30px;
    margin: 15px;
    padding: 5px;
    border: 1px solid #76323F;
    border-radius: 15px;
    background: none;
    outline: none;

}
