html{
    min-width: 1024px;
}
.modal-content{
    width:40%;
    text-align: center;
    height:1020px;
}
#navi button{
    display:block;
     margin:10px 5px 10px 839px;
     padding:5px 10px;
     background-color:#d7cec7;
     border:solid 0;
     float:left;
     border-radius:5px;
 }
 
 #navi button:hover{
     opacity:0.9;
     color:white;
     background-color:#c09f80;
 }

 .filtrar{
     float:left;
     margin-left: 15px;
 }
 #buscarClub{
     width:250px;
     border:none;
     padding:8px;
 }
 .filtrar label{
     font-size:0px;
 }
 .botonesClubes{
     margin:20px 0 60px 600px;
     display:flow-root;
 }

 .botonesClubes button{
    border-radius:5px; 
    padding:5px 10px;
 }
 .btn2{
     margin:0 30px;
     background-color:#76323f;
     color:#fff;
     width:30%;
     float:left;
 }

 .btn2:hover{
     background-color: #3d1e24;   
 }