
main{
    
    text-align: center;
}

h1{
    color: #76323F;
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
}
#tbl_libros{
    border: 1px solid #76323F;
}
#tbl_libros thead th{
    height: 30px;
    min-width: 85px;
    background: #76323F;
    color: #D7CEC7;
}
#tbl_libros tbody{
    border: 1px solid #76323F;
}
#tbl_libros tbody tr:hover{
background: #b2bec3;
}
#tbl_libros tbody td {
    height: 7px;
    text-align: center;    
}
