

#lista_libros .card{
    width: 30%;
    margin: 20px 1.5%;
    border: solid 1px #76323F;
    border-radius: 10px;
    float: left;

}
#lista_libros .card header{
    height: 30px;
    margin: 0px;
    background: #76323F;
    color: #D7CEC7;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}
#lista_libros .card .contenedor_imagen{
    text-align: center;
}
#lista_libros .card .contenedor_imagen img{
    width: 100%;
}
#lista_libros .card button{
    background: #76323F;
    color: #D7CEC7;
}


#lista_libros .card{
    width: 30%;
    margin: 20px 1.5%;
    border: solid 1px #76323F;
    border-radius: 10px;
    float: left;

}
#lista_libros .card header{
    margin: 0px;
    background: #76323F;
    color: #D7CEC7;
    text-align: center;
}
#lista_libros .card .contenedor_imagen{
    text-align: center;
}
#lista_libros .card .contenedor_imagen img{
    width: 100%;
}
#lista_libros .card button{
    text-align: center;
}

