
main{
    text-align: center;
}

body{
    text-align: center;
    margin: 300px,left;

}


h1{
    color: #76323F;
    font-size: 30px;
    margin: 30px;
}

label{
    color: #76323F;
    font-size: 20px;
    margin: 30px;
}

input{
    width: 60%;
    height: 30px;
    margin: 20px;
    padding: 5px;
    border: 1px solid #76323F;
    border-radius: 15px;
    background: none;
    outline: none;
}


main a{
    padding: 10px;
    
    border-radius: 15px;
    font-size: 15px;
    color: #76323F;
    font-weight: bold;
    background: none;
    outline: none; 
    text-decoration: none;
}




table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}
  
th, td {
    text-align: left;
    padding: 15px;
}
  
tr:nth-child(even){background-color: #f2f2f2}
  
th {
    background-color: #f6b93b;
    color: white;
}
