
.input_error {
    border: 2px #e74c3c solid !important;
}


/* FIN nav */


/* INICIO main */

main{
    display: flow-root;
    text-align: center;
}

h1{
    color: #76323F;
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
}

#datos_autor1{
    width: 50%;
    float: left;
    text-align: center;
}

#datos_autor2{
    width: 50%;
    float: left;
    text-align: center;
}

h2{
    color: #76323F;
    font-size: 20px;
    margin: 30px;
}

input{
    width: 60%;
    height: 30px;
    margin: 15px;
    padding: 5px;
    border: 1px solid #76323F;
    border-radius: 15px;
    background: none;
    outline: none;
}

textarea{
    width: 60%;
    height: 80px;
    margin: 15px;
    padding: 5px;
    border: 1px solid #76323F;
    border-radius: 15px;
    background: none;
    outline: none;
    resize: none;
}

select{
    width: 63%;
    height: 42px;
    margin: 15px;
    padding: 5px;
    border: 1px solid #76323F;
    border-radius: 15px;
    background: none;
    color: #76323F;
    outline: none;
}

.input_error {
    border: 2px #e74c3c solid !important;
}

::-webkit-input-placeholder{
    color: #76323F;
}

iframe{
    width: 60%;
    margin: 15px;
    height: 122px;
}

#btn{
    margin: 50px 0;
    padding: 10px;
    border: 2px solid #76323F;
    border-radius: 15px;
    font-size: 20px;
    color: #76323F;
    font-weight: bold;
    background: none;
    outline: none;
}

#btn:hover{
    margin: 50px 0;
    padding: 10px;
    border: 2px solid #76323F;
    border-radius: 15px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background:  #76323F;
    outline: none;
}

#btn-registrar-autor{
    margin: 50px 0;
    padding: 10px;
    border: 2px solid #76323F;
    border-radius: 15px;
    font-size: 20px;
    color: #76323F;
    font-weight: bold;
    background: none;
    outline: none;
}

#btn-registrar-autor:hover{
    margin: 50px 0;
    padding: 10px;
    border: 2px solid #76323F;
    border-radius: 15px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background:  #76323F;
    outline: none;
}

/* FIN main */

