main {
    display: flow-root;
    text-align: center;
}

h1{
    font-size: 20px;
    color: #000;
    font-weight: bolder;
    margin-top: 100px;
    margin-bottom: 20px;
}

.contenedor{
    width: 40%;
    background: #f6b93b;
    margin: 0 auto;
    border-radius: 15px;
    padding: 20px;
}

.contenedor div {
    width: 100%;
    text-align: center;
}

main input{
    width: 60%;
    height: 30px;
    margin: 15px;
    padding: 5px;
    border: none;
    border-bottom: 2px solid #000;
    background: none;
    outline: none;
    color: #000;
}

input::-webkit-input-placeholder {
    color: #000;
}

.input_error {
    border: 2px #e74c3c solid !important;
}

button{
    margin: 30px 0;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    background: #000;
    outline: none;
    cursor: pointer;
}

button:hover{
    margin: 30px 0;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 15px;
    color: #000;
    font-weight: bold;
    background: #fff;
    outline: none;
    cursor: pointer;
}





#btn_registrar{
    margin: 50px 0;
    padding: 10px;
    border: 2px solid #000;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    background: #000;
    outline: none;
}

#btn_registrar:hover{
    margin: 50px 0;
    padding: 10px;
    border: 2px solid #f6b93b;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    background: #f6b93b;
    outline: none;
}