

.boton_registrar {

    background: #2f3542;
    color: #fff;
    font-size: 16px;
    width: 150px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}


main{

    display: flow-root;
    text-align: center;
}

main h1{

    color: #76323F;
    font-size: 30px;
    margin: 30px;
}

input{
    width: 60%;
    height:40px;
    margin: 15px;
    padding: 5px;
    border: 1px solid #76323F;
    background: none;
    outline: none;
    
}

.input_error {
    
    border: 2px #e74c3c solid !important;
}

::-webkit-input-placeholder{
    color: #76323F;
}

iframe{
    width: 60%;
    margin: 15px;
    height: 200px;
}


select{

    width: 61%;
    margin: 15px;
    padding: 5px;
    border: 1px solid #76323F;
    background: none;
    color: #76323F;
    outline: none;   
}

