

.boton_registrar {

    background: #2f3542;
    color: #fff;
    font-size: 16px;
    width: 150px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

main{

    display: flow-root;
    text-align: center;
}

main h1{

    color: #76323F;
    font-size: 30px;
    margin: 30px;
}

.nombre_categoria{

    text-align: center;
}

main h2 {

    color: #76323F;
    font-size: 20px;
    margin: 30px;

}

main input{
    width: 60%;
    margin: 15px;
    padding: 5px;
    border: 1px solid #76323F;
    background: none;
    outline: none;
    
}

.input_error {
    
    border: 2px #e74c3c solid !important;
}

::-webkit-input-placeholder{
    color: #76323F;
}

main button{

    margin: 50px 0;
    padding: 10px;
    border: 1px solid #76323F;
    font-size: 20px;
    color: #76323F;
    background: none;
    outline: none; 
}