body {
    background-color: #fff
  }
  h1{
      margin: 18px;
  }
  .sign-in {
    width: 90%;
    margin-left:10px auto 39px 20px;
  }
  .line{
    background-color: #f6b93b;
    height:2px;
    width:100%;
    margin-bottom:30px;
  }
  .sign-in h1 {
    margin:20px;
  }
 .sign-in  img{
    width: 148px;
    height: 221px;
}
  
  input {
    display: block;
    width:800px;
    padding:10px;
    margin:10px 0;
    margin-left:20px;
  }
  
  select{
    width:800px;
    padding:10px;
     margin:10px 0;
     margin-left:20px;
     appearance: none;
     height:40px;
     background-color:#fff;
  }
  
  label{
    display: block;
    margin-left:20px;
  }
  .btnsForm{
    /* float:right;
    margin-right:50px;
    margin-bottom:30px; */
  }
  
  .btnsForm button{
    padding:15px 45px;
    border:solid 1px #000;
    background-color:#fff;
    color:#000;
  }
  
  .btnsForm button:hover{
      border:solid 1px #000;
    background-color:#000;
    color:#fff;
  
  }
  
  .error{
    display:none;
    color:red;
    margin:20px;
    font-size:10px;
  }


  .input_error{
  
      border:solid 2px red;
  }
  .boton_subir_imagen{
    border:solid 1px #000;
    background-color:#fff;
    color:#000;
    height: 25px;
    width: 148px;
    margin-bottom:30px;
  }
  .boton_subir_imagen:hover{
    border:solid 1px #000;
    background-color:#000;
    color:#fff;
  }
  


















 /* .hovernav{
    text-decoration: none;
    border-bottom: solid 2px #f6b93b;
}

main{
    text-align: center;
}

h1{
    color: #000;
    font-size: 30px;
    margin: 60px;
    font-weight: bold;
}

label{
    color: #000;
    font-size: 20px;
}

input{
    width: 30%;
    height: 30px;
    margin: 20px;
    padding: 5px;
    border: 1px solid #000;
    background: none;
    outline: none;
}

main a{
    padding: 10px;
    border: 2px solid #000;
    border-radius: 15px;
    font-size: 15px;
    color: #000;
    font-weight: bold;
    margin: 15px;
    background: none;
    float: right;
    outline: none;
    text-decoration: none;
}

main a:hover{
    padding: 10px;
    border: 2px solid #f6b93b;
    border-radius: 15px;
    font-size: 15px;
    color: #f6b93b;
    font-weight: bold;
    margin: 15px;
    background: none;
    float: right;
    outline: none;
    text-decoration: none;
}

main button{
    padding: 10px;
    border: 1px solid #f6b93b;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    background: #f6b93b;
    outline: none; 
}

main button:hover{
    padding: 10px;
    border: 1px solid #000;
    border-radius: 15px;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    background: #000;
    outline: none;
}




#sct_formulario {
    display: inline-block;
    margin: 20%;
    margin-top: 5%;
    margin-left: 25%;
    text-align: left;
    font-size: 20px;
}
#sct_formulario input{
    width: 300px;
    margin: 10px;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 20px;
}
#sct_formulario select{
    width: 300px;
    margin: 10px;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 20px;
}





.input_error {
    border: 2px #e74c3c solid !important;
} */




/* .boton-registrar{
    margin: 20px;
    padding: 10px;
    border: 2px solid #000;
    font-size: 20px;
    color: #000;
    font-weight: bold;
    background: none;
    outline: none;
} */


/* 
.subir_imagen{
    height: 250px;
    width: 150px;
    border: solid 1px #000;
    display: inline-block;
}
.portada{
    height: 220px;
    width: 150px;
}
#img_preview{
    width: 100%;
    height: 100%;
    margin-bottom: 0px;

}
.boton_subir_imagen{
    width: 100%;
    background: #000;
    color: #FFF;
    border: none;
    height: 30px;
}
#portada_libro{
    align-content: center;
}
#portada_libro img{
    display: inline-block;
} */