
/* INICIO main */

main{
    display: flow-root;
    text-align: center;
}

main h1{
    color: #000;
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
}

#datos_libreria{
    text-align: center;
    margin-bottom: 20px;
    display: flow-root;
}

.datos{
    width: 50%;
    float: left;
}
.mapa{
    width: 50%;
    float: left;
}

#datos_admi_libreria{
    text-align: center;
    display: flow-root;
}

.izquierda{
    float: left;
    width: 50%;
}

main h2{
    color: #f6b93b;
    font-size: 20px;
    margin: 30px;
}

main input{
    width: 90%;
    height: 30px;
    margin: 0 15px;
    margin-bottom: 50px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #000;
    background: none;
    outline: none;
}

main textarea{
    width: 90%;
    height: 80px;
    outline: none;
    resize: none;
    margin: 0 15px;
    margin-bottom: 50px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #000;
    background: none;
}

main select{
    width: 90%;
    height: 30px;
    margin: 0 15px;
    margin-bottom: 50px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #000;
    background: none;
    outline: none;
}

.input_error {
    border: none;
    border-bottom: 2px #e74c3c solid !important;
}

#img_avatar{
    width: 100px;
}

main iframe{
    width: 80%;
    margin: 15px;
    height: 276px;
}

#btn_seleccionar_avatar{
    margin: 20px 0 95px 0;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 15px;
    color: #000;
    font-weight: bold;
    background: none;
    outline: none;
}

#btn_registrar{
    margin: 50px 0;
    padding: 10px;
    border: 2px solid #000;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    background: #000;
    outline: none;
}

#btn_registrar:hover{
    margin: 50px 0;
    padding: 10px;
    border: 2px solid #f6b93b;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    background: #f6b93b;
    outline: none;
}


#map {
    height: 300px;
}

/* FIN main */

footer{
    background: #f6b93b;
    height: 50px;
}