

/* FIN nav */

main{
    display: flow-root;
    margin-top: 50px;
}

.izquierda{
    float: left;
    padding: 20px;
    text-align: center;
    width: 400px;
}

.derecha{
    padding: 20px;
    float: left;
    border-left: #76323F solid 1px;

}

.nombre{
    color: #76323F;
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
}

.dato{
    color: #76323F;
    font-size: 20px;
    margin: 30px;
}