.hovernav{
    text-decoration: none;
    border-bottom: solid 2px #f6b93b;
}




body{
    width: 1024px;
    margin: 0 auto;
}

/* FIN nav */

main{
    display: flow-root;
    margin-top: 50px;
    text-align: center;
}

.izquierda{
    float: left;
    padding: 20px;
}

.derecha{
    padding: 20px;
    float: left;
}

h1{
    color: #76323F;
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
}

.dato{
    color: #76323F;
    font-size: 20px;
    margin: 20px;
}


table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    text-align: left;
    padding: 15px;
}
  
tr:nth-child(even){background-color: #f2f2f2}
  
th {
    background-color: #f6b93b;
    color: white;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    margin-bottom: 40px;
}

footer {
    background-color: #f6b93b;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    color: white;
}
