body{
    width: 1024px;
    margin: 0 auto;
}


/* INICIO nav */

nav{
    height: 50px;
    background-color: #76323F;
}

nav img{
    height: 40px;
    margin-top: 5px;
    margin-left: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}
  
nav ul li {
    display: inline;
}

nav ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    margin: 10px;
    color: #D7CEC7;
}

.cerrar_sesion{
    border: 1px solid #D7CEC7;
}

/* FIN nav */

main{
    display: flow-root;
    margin-top: 50px;
}

.izquierda{
    float: left;
    padding: 20px;
}

.derecha{
    padding: 20px;
    float: left;
    border-left: #76323F solid 1px;

}

.nombre{
    color: #76323F;
    font-size: 20px;
    font-weight: bold;
    margin: 30px;
}

.dato{
    color: #76323F;
    font-size: 30px;
    margin: 30px;
}