.hovernav{
    text-decoration: none;
    border-bottom: solid 2px #f6b93b;
}




body{
    width: 1024px;
    margin: 0 auto;
}

/* FIN nav */

main{
    display: flow-root;
    margin-top: 50px;
    text-align: center;
}

.izquierda{
    float: left;
    padding: 20px;
}

.derecha{
    padding: 20px;
    float: left;
}

#info{
    margin-bottom: 100px;
}

h1{
    color: #000;
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
}

.dato{
    color: #000;
    font-size: 20px;
    margin: 20px;
}

#sucursales{
    margin-bottom: 100px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    text-align: left;
    padding: 15px;
}
  
tr:nth-child(even){background-color: #f2f2f2}
  
th {
    background-color: #f6b93b;
    color: white;
}
















/*                SECCION OFERTA               */

#ofertas{
    margin-bottom: 100px;
    display: flow-root;
}

.btn-registrar-oferta{
    padding: 10px;
    border: 2px solid #000;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    background: #000;
    outline: none; 
    margin: 20px;
    float: right;
    cursor: pointer;
}

.btn-registrar-oferta:hover{
    padding: 10px;
    border: 2px solid #f6b93b;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    background: #f6b93b;
    outline: none; 
    margin: 20px;
    float: right;
    cursor: pointer;
}

/*pop up*/

.input_error {
    border: 2px #e74c3c solid !important;
}

.overlay{
    background: rgba(0, 0, 0,0.1);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay.active{
    visibility: visible;
}

.popup{
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}

#image_preview{
    width: 150px;
    text-align: center;
    margin: 15px 0 0 0;
}

.boton_subir_imagen{
    margin: 15px 0;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 10px;
    color: #000;
    font-weight: bold;
    background: #fff;
    outline: none; 
    cursor: pointer;
}

.boton_subir_imagen:hover{
    padding: 5px;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 10px;
    color: #000;
    font-weight: bold;
    background: #fff;
    outline: none; 
    cursor: pointer;
}

.btn_subir_oferta{
    color: #fff;
    font-size: 16px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    background: #f6b93b;
    border: none;
    cursor: pointer;
}






.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    line-height: 16px;
    text-align: right;
    margin-left: 180px;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.agregar {
    color: #fff;
    font-size: 10px;
    width: 100px;
    height: 25px;
    padding: 5px;
    margin: 20px;
    background-color: #76323F;
    border: none;


}


.popup form .contenedor-inputs input{
    width: 100%;
    height: 40px;
    line-height: 17px;
    font-size: 18px;
    text-align: center;
    }

    .popup form .contenedor-inputs label{
    font-size: 20px;
    line-height: 40px;
    font-size: 18px;
    
}

.contenedor-inputs img{
    width:80px;
}

.subir_imagen{
    height: 250px;
    width: 150px;
    display: inline-block;
}

#image_preview2{
    border-image: 0%;
}
