.hovernav{
    text-decoration: none;
    border-bottom: solid 2px #f6b93b;
}


h3{
    color: #000;
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
}
body{
    margin: 0 auto;
    text-align: center;
}

#map {
    height: 350px;
    width: 80%;
    margin-left: 150px;
}

/* FIN nav */

main{
    display: flow-root;
    margin-top: 50px;
    text-align: center;
}

.izquierda{
    float: left;
    padding: 20px;
}

.derecha{
    padding: 20px;
    float: left;
}

#info{
    margin-bottom: 100px;
}

h1{
    color: #000;
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
}

.dato{
    color: #000;
    font-size: 20px;
    margin: 20px;
}

#sucursales{
    margin-bottom: 100px;
    text-align: center;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}
  
th, td {
    text-align: left;
    padding: 15px;
}
  
tr:nth-child(even){background-color: #f2f2f2}
  
th {
    background-color: #f6b93b;
    color: white;
}





#tbl_sucursales button{
    padding: 10px;
    border: 2px solid #000;
    font-size: 15px;
    color: #000;
    font-weight: bold;
    background: none;
    outline: none; 
    cursor: pointer;
}

#tbl_sucursales button:hover{
    padding: 10px;
    border: 2px solid #000;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    background: #000;
    outline: none; 
    cursor: pointer;
}










/*                SECCION OFERTA               */

#ofertas{
    margin-bottom: 100px;
    display: flow-root;
}

.btn-registrar-oferta{
    padding: 10px;
    border: 2px solid #000;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    background: #000;
    outline: none; 
    margin: 20px;
    float: right;
    cursor: pointer;
}

.btn-registrar-oferta:hover{
    padding: 10px;
    border: 2px solid #f6b93b;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    background: #f6b93b;
    outline: none; 
    margin: 20px;
    float: right;
    cursor: pointer;
}

/*pop up*/

.input_error {
    border: 2px #e74c3c solid !important;
}

.overlay{
    background: rgba(0, 0, 0,0.1);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay.active{
    visibility: visible;
}

.popup{
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}

#image_preview{
    width: 150px;
    text-align: center;
    margin: 15px 0 0 0;
}

.boton_subir_imagen{
    margin: 15px 0;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 10px;
    color: #000;
    font-weight: bold;
    background: #fff;
    outline: none; 
    cursor: pointer;
}

.boton_subir_imagen:hover{
    padding: 5px;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 10px;
    color: #000;
    font-weight: bold;
    background: #fff;
    outline: none; 
    cursor: pointer;
}

.btn_subir_oferta{
    color: #fff;
    font-size: 16px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    background: #f6b93b;
    border: none;
    cursor: pointer;
}






.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    line-height: 16px;
    text-align: right;
    margin-left: 180px;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.agregar {
    color: #fff;
    font-size: 10px;
    width: 100px;
    height: 25px;
    padding: 5px;
    margin: 20px;
    background-color: #76323F;
    border: none;


}


.popup form .contenedor-inputs input{
    width: 100%;
    height: 40px;
    line-height: 17px;
    font-size: 18px;
    text-align: center;
    }

    .popup form .contenedor-inputs label{
    font-size: 20px;
    line-height: 40px;
    font-size: 18px;
    
}

.contenedor-inputs img{
    width:80px;
}

.subir_imagen{
    height: 250px;
    width: 150px;
    display: inline-block;
}

#image_preview2{
    border-image: 0%;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides,.libroVendido {display: none}
img {vertical-align: middle;}



/* Slideshow container */
.slideshow-container,#masVendidos {
  max-width: 1000px;
  position: relative;
  width:800px;
  float:left;
  margin: 30px 35px; 
   text-align: center;
  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev{
  left:0; 
}

.mySlides img,.libroVendido img{
  height:300px;
  width:800px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Fading animation */





/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}