body{
    width: 1024px;
    margin: 0 auto;
}

nav{
    height: 50px;
    background-color: #76323F;
}

nav img{
    height: 40px;
    margin-top: 5px;
    margin-left: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}
  
nav ul li {
    display: inline;
}

nav ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    margin: 10px;
    color: #D7CEC7;
}

.cerrar_sesion{
    border: 1px solid #D7CEC7;
}

main{
    text-align: center;
}

h1{
    color: #76323F;
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
}

#datos{
    width: 50%;
    float: left;
    text-align: center;
}

#localizacion{
    width: 50%;
    float: left;
    text-align: center;
}

input{
    width: 60%;
    height: 30px;
    margin: 15px;
    padding: 5px;
    border: 1px solid #76323F;
    border-radius: 15px;
    background: none;
    outline: none;
}

textarea{
    width: 60%;
    height: 80px;
    margin: 15px;
    padding: 5px;
    border: 1px solid #76323F;
    border-radius: 15px;
    background: none;
    outline: none;
    resize: none;
}

.input_error {
    border: 2px #e74c3c solid !important;
}

::-webkit-input-placeholder{
    color: #76323F;
}

iframe{
    width: 60%;
    height: 338px;
    border-radius: 15px;
}

button{
    margin: 50px 0;
    padding: 10px;
    border: 2px solid #76323F;
    border-radius: 15px;
    font-size: 20px;
    color: #76323F;
    font-weight: bold;
    background: none;
    outline: none; 
}